<a href="https://colab.research.google.com/github/Akshayc10/Data-Science-Portfolio/blob/master/Web%20scrapping%20(Amazon_Books).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
import time
from datetime import datetime
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

In [ ]:
no_pages = 2
def get_data(pageNo):  
    headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    r = requests.get('https://www.amazon.in/gp/bestsellers/books/')
    content = r.content
    soup = BeautifulSoup(content)
    #print(soup)

    alls = []
    for d in soup.findAll('div', attrs={'class':'a-section a-spacing-none aok-relative'}):
        #print(d)
        name = d.find('span', attrs={'class':'zg-text-center-align'})
        n = name.find_all('img', alt=True)
        #print(n[0]['alt'])
        author = d.find('a', attrs={'class':'a-size-small a-link-child'})
        rating = d.find('span', attrs={'class':'a-icon-alt'})
        users_rated = d.find('a', attrs={'class':'a-size-small a-link-normal'})
        price = d.find('span', attrs={'class':'p13n-sc-price'})

        all1=[]

        if name is not None:
            #print(n[0]['alt'])
            all1.append(n[0]['alt'])
        else:
            all1.append("unknown-product")

        if author is not None:
            #print(author.text)
            all1.append(author.text)
        elif author is None:
            author = d.find('span', attrs={'class':'a-size-small a-color-base'})
            if author is not None:
                all1.append(author.text)
            else:    
                all1.append('0')

        if rating is not None:
            #print(rating.text)
            all1.append(rating.text)
        else:
            all1.append('-1')

        if users_rated is not None:
            #print(price.text)
            all1.append(users_rated.text)
        else:
            all1.append('0')     

        if price is not None:
            #print(price.text)
            all1.append(price.text)
        else:
            all1.append('0')
        alls.append(all1)    
    return alls

In [ ]:
results = []

In [ ]:
for i in range(1, no_pages+1):
    results.append(get_data(i))

In [ ]:
flatten = lambda l: [item for sublist in l for item in sublist]
df = pd.DataFrame(flatten(results),columns=['Book Name','Author','Rating','Customers_Rated', 'Price'])
df.to_csv('amazon_products.csv', index=False, encoding='utf-8')

In [ ]:
df = pd.read_csv("amazon_products.csv")

In [ ]:
df.shape

(100, 5)

In [ ]:
df.head(100)

                                            Book Name  ...       Price
0   Ikigai: The Japanese secret to a long and happ...  ...    ₹ 395.00
1   My First Library: Boxset of 10 Board Books for...  ...    ₹ 499.00
2   Indian Polity - For Civil Services and Other S...  ...    ₹ 543.00
3                 The Power of your Subconscious Mind  ...    ₹ 159.00
4   A Brief History of Modern India (2019-2020 Edi...  ...    ₹ 256.00
..                                                ...  ...         ...
95  Harry Potter Box Set: The Complete Collection ...  ...  ₹ 2,550.00
96                             General Knowledge 2021  ...     ₹ 30.00
97                                  As a Man Thinketh  ...     ₹ 50.00
98  Death; An Inside Story: A book for all those w...  ...    ₹ 263.00
99  CBSE All In One Social Science Class 10 for 20...  ...    ₹ 349.00

[100 rows x 5 columns]

In [ ]:
df['Rating'] = df['Rating'].apply(lambda x: x.split()[0])

In [ ]:
df['Rating'] = pd.to_numeric(df['Rating'])

In [ ]:
df["Price"] = df["Price"].str.replace('₹', '')

In [ ]:
df["Price"] = df["Price"].str.replace(',', '')

In [ ]:
df['Price'] = df['Price'].apply(lambda x: x.split('.')[0])

In [ ]:
df['Price'] = df['Price'].astype(int)

In [ ]:
df["Customers_Rated"] = df["Customers_Rated"].str.replace(',', '')

In [ ]:
df['Customers_Rated'] = pd.to_numeric(df['Customers_Rated'], errors='ignore')

In [ ]:
df.head(100)

                                            Book Name  ... Price
0   Ikigai: The Japanese secret to a long and happ...  ...   395
1   My First Library: Boxset of 10 Board Books for...  ...   499
2   Indian Polity - For Civil Services and Other S...  ...   543
3                 The Power of your Subconscious Mind  ...   159
4   A Brief History of Modern India (2019-2020 Edi...  ...   256
..                                                ...  ...   ...
95  Harry Potter Box Set: The Complete Collection ...  ...  2550
96                             General Knowledge 2021  ...    30
97                                  As a Man Thinketh  ...    50
98  Death; An Inside Story: A book for all those w...  ...   263
99  CBSE All In One Social Science Class 10 for 20...  ...   349

[100 rows x 5 columns]

In [ ]:
df.dtypes

Book Name           object
Author              object
Rating             float64
Customers_Rated      int64
Price                int64
dtype: object

In [ ]:
df.replace(str(0), np.nan, inplace=True)
df.replace(0, np.nan, inplace=True)

In [ ]:
count_nan = len(df) - df.count()
count_nan

Book Name          0
Author             0
Rating             0
Customers_Rated    0
Price              0
dtype: int64

In [ ]:
df1=df.drop_duplicates(subset=None, keep='first', inplace=False)
df1

                                            Book Name  ... Price
0   Ikigai: The Japanese secret to a long and happ...  ...   395
1   My First Library: Boxset of 10 Board Books for...  ...   499
2   Indian Polity - For Civil Services and Other S...  ...   543
3                 The Power of your Subconscious Mind  ...   159
4   A Brief History of Modern India (2019-2020 Edi...  ...   256
5                                1001 Activities Book  ...   280
6                            101 Panchatantra Stories  ...   119
7                                       The Alchemist  ...   228
8   25 Years UPSC IAS/ IPS Prelims Topic-wise Solv...  ...   297
9                                 Think and Grow Rich  ...   149
10                               Word Power Made Easy  ...   145
11     Oxford Student Atlas for India - Third Edition  ...   270
12              Sapiens: A Brief History of Humankind  ...   399
13  My First Book of Patterns Pencil Control: Patt...  ...   139
14       Legend of Suheldev: The King Who Saved India  ...   260
15  Picture Books Collection for Early Learning (S...  ...   250
16  Quantitative Aptitude for Competitive Examinat...  ...   583
17                           Grandma's Bag of Stories  ...   235
18                       Colour with Crayons Part - 1  ...    42
19  Rich Dad Poor Dad : What The Rich Teach Their ...  ...   348
20           Harry Potter and the Philosopher's Stone  ...   268
21  World’s Greatest Books For Personal Growth & W...  ...   399
22                                  General Knowledge  ...   193
23  My First Learning Library Box Set: 20 Board Bo...  ...   899
24             The Complete Novels of Sherlock Holmes  ...   139
25                            505 Activities for Kids  ...   175
26  Refreshing Mandala - Colouring Book for Adults...  ...   175
27                         Great Stories for Children  ...   185
28        Lines and Curves (Pattern Writing) - Part 1  ...    60
29  Man's Search For Meaning: The classic tribute ...  ...   260
30  Attitude Is Everything: Change Your Attitude ....  ...   192
31  Writing Practice A Set Of 4 Books (Writing Fun...  ...   229
32            How to Win Friends and Influence People  ...   175
33                         The Richest Man in Babylon  ...   119
34  Certificate Physical And Human Geography; Indi...  ...   282
35                The Subtle Art of Not Giving a F*ck  ...   299
36  JK Easy Copier 70 GSM A4 500 Sheets Copier Pap...  ...   193
37                                    Naalo Natho YSR  ...   225
38  The Intelligent Investor (English) Paperback –...  ...   455
39                      The Monk Who Sold His Ferrari  ...   178
40         Very First Sight Words Sentences Level - 1  ...   112
41  The 5 AM Club: Own Your Morning, Elevate Your ...  ...   240
42                          Peppa Pig: Little Library  ...   230
43                                          World Map  ...    98
44                   Bhagavad Gita: Yatharoop (Hindi)  ...   189
45  Harry Potter Box Set: The Complete Collection ...  ...  2550
46                             General Knowledge 2021  ...    30
47                                  As a Man Thinketh  ...    50
48  Death; An Inside Story: A book for all those w...  ...   263
49  CBSE All In One Social Science Class 10 for 20...  ...   349

[50 rows x 5 columns]

In [ ]:
data = df1.sort_values(["Price"], axis=0, ascending=False)[:15]
data

                                            Book Name  ... Price
45  Harry Potter Box Set: The Complete Collection ...  ...  2550
23  My First Learning Library Box Set: 20 Board Bo...  ...   899
16  Quantitative Aptitude for Competitive Examinat...  ...   583
2   Indian Polity - For Civil Services and Other S...  ...   543
1   My First Library: Boxset of 10 Board Books for...  ...   499
38  The Intelligent Investor (English) Paperback –...  ...   455
12              Sapiens: A Brief History of Humankind  ...   399
21  World’s Greatest Books For Personal Growth & W...  ...   399
0   Ikigai: The Japanese secret to a long and happ...  ...   395
49  CBSE All In One Social Science Class 10 for 20...  ...   349
19  Rich Dad Poor Dad : What The Rich Teach Their ...  ...   348
35                The Subtle Art of Not Giving a F*ck  ...   299
8   25 Years UPSC IAS/ IPS Prelims Topic-wise Solv...  ...   297
34  Certificate Physical And Human Geography; Indi...  ...   282
5                                1001 Activities Book  ...   280

[15 rows x 5 columns]

In [ ]:
df1.to_csv('Amazon_Bookss.csv')

Top Rated Books and Authors wrt Customers Rated

In [ ]:
data = df1[df1['Customers_Rated'] > 1000]
data = data.sort_values(['Rating'],axis=0, ascending=False)[:15]
data

                                            Book Name  ... Price
44                   Bhagavad Gita: Yatharoop (Hindi)  ...   189
48  Death; An Inside Story: A book for all those w...  ...   263
7                                       The Alchemist  ...   228
20           Harry Potter and the Philosopher's Stone  ...   268
45  Harry Potter Box Set: The Complete Collection ...  ...  2550
39                      The Monk Who Sold His Ferrari  ...   178
12              Sapiens: A Brief History of Humankind  ...   399
23  My First Learning Library Box Set: 20 Board Bo...  ...   899
2   Indian Polity - For Civil Services and Other S...  ...   543
0   Ikigai: The Japanese secret to a long and happ...  ...   395
4   A Brief History of Modern India (2019-2020 Edi...  ...   256
32            How to Win Friends and Influence People  ...   175
30  Attitude Is Everything: Change Your Attitude ....  ...   192
9                                 Think and Grow Rich  ...   149
27                         Great Stories for Children  ...   185

[15 rows x 5 columns]

Most Customer Rated Authors and Books

In [ ]:
data = df1.sort_values(["Customers_Rated"], axis=0, ascending=False)[:20]
data

                                            Book Name  ... Price
7                                       The Alchemist  ...   228
9                                 Think and Grow Rich  ...   149
32            How to Win Friends and Influence People  ...   175
12              Sapiens: A Brief History of Humankind  ...   399
3                 The Power of your Subconscious Mind  ...   159
19  Rich Dad Poor Dad : What The Rich Teach Their ...  ...   348
35                The Subtle Art of Not Giving a F*ck  ...   299
10                               Word Power Made Easy  ...   145
29  Man's Search For Meaning: The classic tribute ...  ...   260
20           Harry Potter and the Philosopher's Stone  ...   268
38  The Intelligent Investor (English) Paperback –...  ...   455
45  Harry Potter Box Set: The Complete Collection ...  ...  2550
39                      The Monk Who Sold His Ferrari  ...   178
33                         The Richest Man in Babylon  ...   119
22                                  General Knowledge  ...   193
16  Quantitative Aptitude for Competitive Examinat...  ...   583
42                          Peppa Pig: Little Library  ...   230
1   My First Library: Boxset of 10 Board Books for...  ...   499
24             The Complete Novels of Sherlock Holmes  ...   139
41  The 5 AM Club: Own Your Morning, Elevate Your ...  ...   240

[20 rows x 5 columns]